.p-stepper {
    flex-basis: 50rem;
}

h5,h6{
    padding:0px;
    padding-bottom: 5px;
    margin: 0PX;
}

.p-0{
    padding: 0px;
}
.p-2{
    padding: 2px;
}
div{
    padding: 0px;
    margin:  0px;
 }
 input{
    margin-bottom: 15px;
 }

 .divider{
    padding: 0px;
    margin: 0px;
 }
 .claro-g-100{
    background-color: #F4F4F4;
 }

 .full-width {
    width: 98%;
}

.container{
    background-color: goldenrod;
}
