<div class="card">
    <h4>Ver Parqueo</h4>
</div>

<div class="card">
    <form [formGroup]="formularioParqueo">
        <div class="p-fluid p-formgrid grid">

            <div class="field col-6">
                <label for="nombreParqueo">Nombre del Parqueo*</label>
                <input id="nombreParqueo" type="text" pInputText formControlName="name" />
            </div>

            <div class="field col-6">
                <label for="address-input">Dirección*</label>
                <input id="address-input" type="text" pInputText formControlName="address" />
                <div
                    *ngIf="formularioParqueo.get('address')?.touched && formularioParqueo.get('address')?.hasError('maxlength')">
                    <small class="text-danger">Solo se permiten 75 caracteres</small>
                </div>
                <div
                    *ngIf="formularioParqueo.get('address')?.touched && formularioParqueo.get('address')?.hasError('required')">
                    <small class="text-danger">Este campo es obligatorio</small>
                </div>
            </div>

            <div class="field col-6">
                <label for="numberOfIdentifier">Número de voluntaria</label>
                <input id="numberOfIdentifier" type="text" pInputText formControlName="numberOfIdentifier" />
                <div
                    *ngIf="formularioParqueo.get('numberOfIdentifier')?.invalid && (formularioParqueo.get('numberOfIdentifier')?.dirty || formularioParqueo.get('numberOfIdentifier')?.touched)">
                    <small class="text-danger">Solo se permiten 25 caracteres</small>
                </div>
            </div>

            <div class="field col-6">
                <label for="contactReference">Contacto de Referencia</label>
                <input id="contactReference" type="text" pInputText formControlName="contactReference" />
                <div
                    *ngIf="formularioParqueo.get('contactReference')?.touched && formularioParqueo.get('contactReference')?.hasError('maxlength')">
                    <small class="text-danger">El campo no puede tener más de 60 caracteres</small>
                </div>
            </div>

            <div class="field col-6">
                <label for="phone-input">Teléfono</label>
                <input id="phone-input" type="text" pInputText formControlName="phone" />
                <div
                    *ngIf="formularioParqueo.get('phone')?.touched && formularioParqueo.get('phone')?.hasError('maxlength')">
                    <small class="text-danger">Solo se permiten 50 caracteres</small>
                </div>
                <div
                    *ngIf="formularioParqueo.get('phone')?.touched && formularioParqueo.get('phone')?.hasError('pattern')">
                    <small class="text-danger">El teléfono debe ser un número válido.</small>
                </div>
            </div>

            <div class="field col-6">
                <label for="email-input">E-mail*</label>
                <input id="email-input" type="email" pInputText formControlName="email" />
                <div
                    *ngIf="formularioParqueo.get('email')?.touched && formularioParqueo.get('email')?.hasError('maxlength')">
                    <small class="text-danger">Solo se permiten 50 caracteres</small>
                </div>
                <div
                    *ngIf="formularioParqueo.get('email')?.touched && formularioParqueo.get('email')?.hasError('pattern')">
                    <small class="text-danger">Debe ingresar un email válido.</small>
                </div>
            </div>

            <div class="field col-6">
                <label for="status-dropdown">Estado*</label>
                <p-dropdown id="status-dropdown" [options]="status_parkings" formControlName="status"
                    placeholder="Selecciona el Estado*" [showClear]="true" optionLabel="nameStatus"
                    optionValue="nameStatus" emptyMessage="No hay estados disponibles">
                </p-dropdown>
                <div
                    *ngIf="formularioParqueo.get('status')?.hasError('required') && formularioParqueo.get('status')?.touched">
                    <small class="text-danger">Este campo es obligatorio</small>
                </div>
            </div>

            <div class="field col-6">
                <label for="comments-textarea">Descripción</label>
                <textarea id="comments-textarea" rows="5" cols="30" placeholder="Ingresa la descripción" pInputTextarea
                    formControlName="comments"></textarea>
                <small *ngIf="commentsLength <= 255">{{ commentsLength }}/255 caracteres</small>
                <small *ngIf="commentsLength > 255" class="text-danger">Límite de caracteres excedido</small>
            </div>

        </div>
    </form>
</div>

<div class="card p-d-flex p-jc-center p-pt-8">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
            <h4>Espacios de Parqueo</h4>
            <h5>Total de espacios actuales: {{ totalSpaces }}</h5>
        </div>
    </div>

    <div class="table-container">
        <div class="text-left">
            <span class="p-input-icon-left w-full sm:w-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar Slot..."
                    class="w-full sm:w-auto" />
            </span>
        </div>
        <br />

        <p-table #dt [value]="parkingSlots" [paginator]="true" scrollable="true" [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]" [showCurrentPageReport]="true" scrollHeight="400px"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [globalFilterFields]="['slotNumber', 'slotType', 'limitOfAssignments', 'benefitType', 'amount', 'vehicleType', 'status']">

            <ng-template pTemplate="header">
                <tr>
                    <th>Número de Parqueo</th>
                    <th>Tipo de Espacio</th>
                    <th>Límite de Asignación</th>
                    <th>Tipo de Beneficio</th>
                    <th>Monto</th>
                    <th>Tipo Vehículo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-slot let-i="rowIndex">
                <tr>
                    <td>
                        <input pInputText type="text" [(ngModel)]="slot.slotNumber"
                            placeholder="Identificador del puesto" title="Identificador del puesto"
                            [disabled]="readOnly" />
                    </td>

                    <td>
                        <select [(ngModel)]="slot.slotType" (ngModelChange)="onSlotTypeChange(slot)"
                            title="Tipo de puesto" [disabled]="readOnly">
                            <option *ngFor="let type of slotTypes" [value]="type.nameSlot">{{ type.nameSlot }}</option>
                        </select>
                    </td>

                    <td>
                        <input pInputText type="number" [(ngModel)]="slot.limitOfAssignments"
                            name="limitOfAssignments{{ i }}" [disabled]="readOnly"
                            [required]="slot.slotType !== 'SIMPLE'" [min]="2" [max]="maxAssignmentValue"
                            placeholder="Máximo de asignaciones" title="Máximo de asignaciones permitidas"
                            #limitInput="ngModel" pattern="^[0-9]+$" />
                        <div *ngIf="limitInput.invalid && (limitInput.dirty || limitInput.touched)">
                            <small class="text-danger" *ngIf="limitInput.errors?.max">
                                El valor no puede ser mayor que {{ maxAssignmentValue }}
                            </small>
                            <small class="text-danger" *ngIf="limitInput.errors?.min">
                                El valor no puede ser menor de 2
                            </small>
                            <small class="text-danger" *ngIf="limitInput.errors?.required">
                                Este campo es obligatorio
                            </small>
                            <small class="text-danger" *ngIf="limitInput.errors?.pattern">
                                Solo se permiten números enteros
                            </small>
                        </div>
                    </td>

                    <td>
                        <select [(ngModel)]="slot.benefitType" (ngModelChange)="onBenefitTypeChange(slot)"
                            title="Tipo de beneficio" [disabled]="readOnly">
                            <option *ngFor="let type of benefitTypes" [value]="type.nameBenefit">
                                {{ type.nameBenefit.replace('_', ' ') }}
                            </option>
                        </select>
                    </td>

                    <td>
                        <div class="field-wrapper">
                            <input pInputText type="number" [(ngModel)]="slot.amount" [disabled]="readOnly"
                                [required]="slot.allowAmount" placeholder="Monto del beneficio"
                                title="Monto del beneficio" pattern="^\d{1,5}(\.\d{0,2})?$" [min]="1"
                                [max]="maxMontValue" [ngClass]="{
                  'input-error': slot.allowAmount && (slot.amount === 0 || slot.amount > maxMontValue || !amountPattern2.test(slot.amount?.toString()))
                }" (ngModelChange)="validateAmount(slot)" />
                            <small *ngIf="slot.allowAmount && slot.amount === 0" class="text-danger">
                                El monto no puede ser 0.
                            </small>
                            <small *ngIf="slot.allowAmount && slot.amount > maxMontValue" class="text-danger">
                                El monto no puede ser mayor a {{ maxMontValue }}.
                            </small>
                        </div>
                    </td>

                    <td>
                        <select [(ngModel)]="slot.vehicleType" (ngModelChange)="onSlotTypeChange(slot)"
                            title="Tipo de vehículo" [disabled]="readOnly">
                            <option *ngFor="let type of vehicleTypes" [value]="type.nameVehicle">{{ type.nameVehicle }}
                            </option>
                        </select>
                    </td>

                    <td>
                        <select [(ngModel)]="slot.status" [disabled]="readOnly" title="Estado del puesto">
                            <option *ngFor="let status of filteredStateSlot" [value]="status.nameStateSlot">
                                {{ status.nameStateSlot }}
                            </option>
                            <option *ngIf="slot.status === 'OCUPADO'" [value]="'OCUPADO'" disabled>OCUPADO</option>
                        </select>
                    </td>

                    <td>
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger" [disabled]="readOnly"
                            (click)="deleteParkingSlot(slot.slotNumber)" title="Eliminar puesto">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="card flex flex-wrap gap-3 justify-content-center">
        <p-button (onClick)="redirect()" label="Regresar" severity="info"></p-button>
    </div>
</div>
